        body {
            background: #ccc;
            margin: auto;
        }
        
        #Header a:hover {
            color: #fff;
        }
        
        .navbar-toggler .navbar-toggler-icon {
            outline: none !important;
        }
        
        #bg-img {
            background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/codeonlaptop.jpg);
            background-size: 100%;
            background-repeat: no-repeat;
            min-height: 500px;
        }
        
        .card-footer {
            background-color: #ED4C67;
            /* background-color: #f0932b; */
        }
        /* 
.media img {
    right: 50px;
} */
        
        .media-body {
            font-family: 'Dosis', sans-serif;
            text-align: center;
            padding-top: 50px;
        }
        
        #About {
            margin-top: -30px;
        }
        
        #About .card {
            width: 1100px;
            right: -20px;
            /*left: 125px; */
        }
        
        #About .fa {
            color: #fff;
        }
        
        #About span {
            /* background-color: #6495ed; */
            background-color: #1289A7;
            padding: 10px 20px;
            border-radius: 2px;
        }
        
        #About hr {
            /* background-color: #6495ed; */
            background-color: #1289A7;
            border-width: 1px;
            margin-top: 06px;
        }
        
        #Skills span {
            padding: 10px 20px;
            border-radius: 2px;
            background-color: #EE5A24 !important;
        }
        
        #Skills hr {
            border-width: 1px;
            margin-top: 06px;
            background-color: #EE5A24 !important;
        }
        
        #Skills .card {
            width: 1100px;
            left: 90px;
        }
        
        .progress {
            border-radius: 16px !important;
        }
        
        .progress-bar {
            border-radius: 16px !important;
        }
        
        #Experience span {
            padding: 10px 20px;
            border-radius: 2px;
        }
        
        #Experience hr {
            border-width: 1px;
            margin-top: 06px;
        }
        
        #Experience .card {
            border-left: 03px solid #eb4d4b;
        }
        /***Contact***/
        
        .Contact {
            margin-top: 30px;
            padding-top: 50px;
            background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/codeonlaptop.jpg);
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
            color: #fff;
        }
        
        .Contact .row {
            margin-left: 30px;
            margin-right: 20px;
            padding: 30px 0;
            font-size: 22px;
            text-align: center;
        }
        
        .Contact .col-md-4 .fa {
            padding: 10px;
            font-size: 40px;
        }
        
        .Contact .row button {
            margin: 0 auto;
        }